.container {
  display: flex;
  flex-direction: row;
}

.example {
  width: 380px;
  padding: 0 60px 0 60px;
  height: 380px;
}

.logo {
  width: 300px;
  height: auto;
  align-self: center;
  margin-bottom: 30px;
}

.container__text {
  display: flex;
  flex-direction: column;
  margin: 0 60px 0 60px;
  width: 500px;
  height: 380px;
}

@media (max-width: 1650px) {
  .example {
    width: 300px;
    padding: 0 50px 0  50px;
    height: 300px;
  }

  .container__text {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 1450px) {
  .container__text {
    margin: 0 30px 0 30px;
  }
}

@media (max-width: 1330px) {
  .example {
    width: 200px;
    padding: 0 50px 0  50px;
    height: 200px;
  }

  .container__text {
    width: 300px;
    height: 200px;
  }

  .logo {
    margin-bottom: 5px;
    width: 150px;
  }
}

@media (max-width: 1040px) {
  .example {
    width: 166px;
    padding: 0 42px 0  42px;
    height: 166px;
  }

  .container__text {
    width: 250px;
    height: 166px;
  }
}

@media (max-width: 870px) {
  .example{
    width: 133px;
    padding: 0 33px 0  33px;
    height: 133px;
  }

  .container__text{
    width: 200px;
    height: 133px;
  }
}

body{
  margin: 40px 40px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 730px) {

  .container__text{
    width: 175px;
    height: 116px;
  }

  .container{
    flex-direction: column;
    align-items: center;
  }

  .example {
    width: 200px;
    height: 200px;
    padding: 0 50px 0  50px;
    margin-bottom: 10px;
  }

  .container__text {
    width: 400px;
    height: 150px;
  }

  .example:nth-child(1){
    display: none;
  }
}

@media (max-width: 460px) {
  .container__text {
    width: 300px;
    height: 150px;
    margin: 0 10px 0 10px;
  }
}

@media (max-width: 320px) {
  .example {
    width: 122px;
    padding: 0 44px 0  44px;
    height: 122px;
    margin-bottom: 10px;
  }

  .container__text {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 1650px) {
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
  }

  h4{
    font-size: 18px;
    font-weight: lighter;
    margin: 0;
  }

  h5{
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
  }
}

@media (max-width: 1330px) {
  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 15px;
  }

  h4{
    font-size: 13px;
    font-weight: lighter;
    margin: 0;
  }

  h5{
    font-size: 12px;
    font-weight: lighter;
    margin: 0;
  }

  .github img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 1040px) {
  h2 {
    font-size: 12px;
  }

  h3 {
    font-size: 12px;
  }

  h4{
    font-size: 11px;
    font-weight: lighter;
    margin: 0;
  }

  h5{
    font-size: 10px;
    font-weight: lighter;
    margin: 0;
  }
}

@media (max-width: 870px) {
  h2 {
    font-size: 10px;
  }

  h3 {
    font-size: 10px;
  }

  h4{
    font-size: 9px;
    font-weight: lighter;
    margin: 0;
  }

  h5{
    font-size: 9px;
    font-weight: lighter;
    margin: 0;
  }

  .github img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 730px) {
  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 14px;
  }

  body {
    margin: 10px;
  }

  footer h2 {
    font-size: 8px;
  }

  footer h3 {
    font-size: 8px;
  }
}

@media (max-width: 650px) {
  h2 {
    font-size: 12px;
  }

  h3 {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  footer h2 {
    font-size: 6px;
  }

  footer h3 {
    font-size: 6px;
  }
}
