.logo {
  margin: 10px;
  width: 250px;
  height: auto;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.instruction {
  margin: 10px;
  width: 250px;
  padding-left: 10px;
}

.settings {
  width: 25vw;
  min-height: 100vh;
  max-height: 100%;
  background-color: #F6F6F6;
  border-left: 2px solid #707070;
  display: flex;
  flex-direction: column;
}

.settings h2 {
  margin: 15px;
}

h5 {
  text-transform: uppercase;
  padding: 0 15px 0 15px;
  margin: 0;
  color: #8F8F8F;
}

canvas {
  margin-top: 50px;
  width: 800px;
  height: 800px;
}

.settingsDetails {
  margin: 10px 20px 10px 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.generate {
  align-self: flex-end;
  justify-self: flex-end;
}

.generateMenu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.generateMenu .menu {
  width: 600px;
  height: 680px;
  background-color: #ffffff;
  border-radius: 30px;
}

.generateMenu img{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 600px;
  height: 600px;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logoCanvas{
  display: flex;
  flex-direction: row;
}

.openMenu{
  display: none;
}

@media (max-width: 1400px){
  canvas{
    width: 600px;
    height: 600px;
  }
}

@media (max-width: 1300px) {
  .instruction{
    display: none;
  }

  .logoCanvas{
    flex-direction: column;
  }

  canvas{
    width: 800px;
    height: 800px;
  }

  .settings{
    width: 40vw;
  }
}

@media (max-width: 1100px) {
  h2{
    font-size: 20px;
  }

  h3{
    font-size: 18px;
  }

  h4{
    font-size: 16px;
  }

  h5{
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  canvas{
    width: 650px;
    height: 650px;
  }
}

@media (max-width: 900px) {
  canvas{
    width: 550px;
    height: 550px;
  }
}

$menu-height: 60px;

@media (max-width: 780px) {
  .settings{
    position: absolute;
    left: 0;
    bottom: 0;
    height: $menu-height;
    max-height: $menu-height;
    max-width: 100vw;
    min-width: 100vw;
    min-height: $menu-height;
    width: 100vw;
    box-sizing: border-box;
    border: none;
    border-radius: 20px 20px 0 0;
    justify-content: center;
    align-items: center;
  }

  .hiddenMenu{
    display: none;
  }

  .settings h2{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .openMenu{
    display: block;
  }
}
