.logo{
  margin: 10px;
  width: 250px;
  height: auto;
}

body{
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.instruction{
  margin: 10px;
  width: 250px;
  padding-left: 10px;
}

.settings{
  width: 25vw;
  height: 100vh;
  background-color: #F6F6F6;
  border-left: 2px solid #707070;
}

.settings h2{
  margin: 15px;
}

h5 {
  text-transform: uppercase;
  padding: 0 15px 0 15px;
  margin: 0;
  color: #8F8F8F;
}

canvas{
  margin-top: 50px;
  width: 40vw;
  height: 40vw;
}

.settingsDetails{
  margin: 10px 20px 10px 20px;
}
