.logo {
  margin: 10px;
  width: 250px;
  height: auto;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.instruction {
  margin: 10px;
  width: 250px;
  padding-left: 10px;
}

.settings {
  width: 25vw;
  min-height: 100vh;
  max-height: 100%;
  background-color: #F6F6F6;
  border-left: 2px solid #707070;
  display: flex;
  flex-direction: column;
}

.settings h2 {
  margin: 15px;
}

h5 {
  text-transform: uppercase;
  padding: 0 15px 0 15px;
  margin: 0;
  color: #8F8F8F;
}

canvas {
  margin-top: 50px;
  width: 40vw;
  height: 40vw;
}

.settingsDetails {
  margin: 10px 20px 10px 20px;
  height: 78vh;
  overflow-y: auto;
}

.generate {
  align-self: flex-end;
  justify-self: flex-end;
}

.generateMenu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.generateMenu .menu {
  width: 600px;
  height: 600px;
  background-color: #d2cfcf;
  border-radius: 30px;
}
