.container {
  display: flex;
  flex-direction: row;
}

.example{
  width: 500px;
  height: 380px;
}

.logo{
  width: 300px;
  height: auto;
  align-self: center;
  margin-bottom: 30px;
}

.container__text{
  display: flex;
  flex-direction: column;
  margin: 0 60px 0 60px;
  width: 500px;
  height: 380px;
}

.github{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  cursor: pointer;
}

.github img{
  width: 60px;
  height: 60px;
  padding-right: 10px;
}
